body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    border-top: 20px solid #5385c1;
}


/* Clear-Fix Technique */
.clearFix::after {
    content: " ";
    clear: both;
    display: block;
}

/* ********************** Responsive For Default Computer Monitor ************************** */
/* Header Starts Here */
.header {
    background-image: url(../img/dd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/* Center Aligning The Elements */
.header .masterCenter {
    max-width: 1000px;
    margin: 0px auto;
    padding: 60px 0px 170px 0px;
}

/* Clear a Section For Floating Elements */
.header .topmostSec {
    padding: 0px;
}

/* Top-Left Corner Logo */
.header .logo {
    float: left;
    font-weight: 600;
    margin: 0px;
}

/* Navigation Links <ul> */
.header .nav {
    float: right;
    list-style-type: none;
    margin: 0px;
}

/* Navigation Links <li> */
.header .nav li {
    float: left;
    margin-left: 30px;
}

/* Navigation Links <a> */
.header .nav li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

/* Banner Heading */
.header .heading {
    clear: both;
    text-align: center;
    margin: 90px 0px 0px 0px;
    font-size: 60px;
    font-weight: lighter;
}

.header .description {
    text-align: center;
    font-weight: lighter;
    font-size: 17px;
    margin: 20px 0px 0px 0px;
}
/* Header Ends Here */

/* ****************************************************************** */

/* Webiste Body Starts Here */

/* Part 1 or Row 1. Three Boxes Starts Here */
.threeBoxes {
    max-width: 1300px;
    margin: 115px auto 0px auto;
}

.threeBoxes .box{
    float: left;
    width: 26%;
    /* border: 2px solid yellow; */
    margin: 0px;
}

.threeBoxes .box .heading{
    color: #5385c1;
    font-size: 25px;
    margin-top: 0px;
    font-weight: 300;
}

.threeBoxes .paragraph{
    margin: 0px;
    color:#a4a4a7;
    word-spacing: 2px;
    font-size: 14px;
    line-height: 25px;
}

.threeBoxes .box .more{
    font-family: 'Raleway', sans-serif;
    border: 0px;
    padding: 13px 22px;
    color: white;
    background-color: #5385c1;
    font-size: 15px;
    font-weight: 600;
    margin: 30px 0 0 0;
}

/* Adjusting the Margin and Padding Of The Boxes To Properly Fit in One Row */
.threeBoxes .first {
    padding: 10px 5% 0 0;
    border-right: 2px solid lightgrey;
}

.threeBoxes .centerBox {
    padding: 10px 5% 0 5%;
    border-right: 2px solid lightgrey;
}

.threeBoxes .last  {
    padding: 10px 0 0 5%;
}
/* Part 1 or Row 1. Three Boxes Ends Here */


/* Part-2 or Row-2. Four Round Image Starts Here */
.fourImg {
    margin-top: 100px;
    background-color: #5385c1;
    color: white;
    padding: 100px 0px 120px 0px;
}

.fourImg .heading{
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    margin: 0px;
}

.fourImg .description {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    margin: 15px 0 0 0;
}

.fourImg .fourBoxes {
    max-width: 1300px;
    margin: 100px auto 0px auto;
}

.fourImg .fourBoxes .box {
    width: 21%;
    padding: 60px 0;
    float: left;
    border: 1px solid silver;
    text-align: center;
}

.fourImg .fourBoxes img {
    border-radius: 100%;
    width: 60%;
}

.fourImg .fourBoxes .boxHeading {
    margin: 30px 0 0 0;    
    font-weight: 300;
    font-size: 19px;
}

.fourImg .fourBoxes .boxDescription {
    margin: 5px 0 0 0;
    font-weight: 100;
    font-size: 15px;
}

/* Adjusting the Margin Of The Boxes To Properly Fit in One Row  */
.fourImg .fourBoxes .adjustMargin {
    margin-left: 5%;
}
/* Part-2 or Row-2. Four Round Image Ends Here */


/* Part-3 or Row-3. Two Images Starts Here */
.twoImgs {
    max-width: 1300px;
    margin: 120px auto 0 auto;
}

.twoImgs .heading{
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    margin: 0px;
    color: #5385c1;
}

.twoImgs .description{
    text-align: center;
    font-size: 18px;
    margin: 15px 0 0 0;
    color: #a4a4a7;
}

.twoImgs .twoBoxes {
    margin: 60px 0 0 0;
}

.twoImgs .box {
    width: 47%;
}

.twoImgs .box img {
    width: 100%;
}

.twoImgs .box .boxHeading {
    margin: 30px 0px 0px 0px;    
    font-weight: 300;
    font-size: 19px;
    color: #5385c1;
}   

.twoImgs .box .paragraph {
    margin: 25px 0px 0px 0px;
    color:#a4a4a7;
    word-spacing: 2px;
    font-size: 14px;
    line-height: 25px;
}

.twoImgs .box button{
    font-family: 'Raleway', sans-serif;
    border: 0px;
    padding: 13px 22px;
    color: white;
    background-color: #5385c1;
    font-size: 15px;
    font-weight: 600;
    margin: 25px 0 0 0;
}

/* Floating The Two Boxes */
.twoImgs .leftBox{
    float: left;
}

.twoImgs .rightBox{
    float: right;
}
/* Part-3 or Row-3. Two Images Ends Here */

/* Webiste Body Ends Here */

/* ****************************************************************** */

/* Website Footer Starts Here */
.footer {
    max-width: 1000px;
    margin: 100px auto 0 auto;
    padding: 45px 0 50px 0;
    border-top: 1px solid lightgrey;
}

.footer .copyRight{
    color: gray;
    margin: 0;
    font-size: 13px;
    float: left;
}

.footer .socialMedia {
    float: right;
}

.footer .socialMedia a {
    text-decoration: none;
    color: #5385c1;
    margin-left: 20px;
}
/* Website Footer Ends Here */


/* ********************************* Media Queries *********************************** */

/* Media Query For Tablet Devices */
@media only screen and (max-width:1300px) {

    body {
        border-top: 10px solid #5385c1;
    }

    /* Website Header Starts Here */
    .header {
        background-position: center top;
    }

    .header .masterCenter {
        padding: 50px 5% 120px 5%;
    }

    .header .heading {
        font-size: 40px;
        margin-top: 55px;
    }

    .header .description {
        font-size: 14px;
    }

    .header .logo {
        font-size: 12px;
    }

    /* Navigation Links */
    .header .nav li {
        float: left;
        margin-left: 20px;
    }
    
    .header .nav li a {
        font-size: 12px;
    }
    /* Website Header Ends Here */

    /* Website Body Starts Here */
    /* Part 1 or Row 1. Three Boxes Starts Here */
    .threeBoxes {
        width: 90%;
        margin: 90px auto 0px auto;
    }

    .threeBoxes .box{
        width: 44%;
    }

    .threeBoxes .box .heading{
        font-size: 22px;
        margin-bottom: 15px;
    }
    
    .threeBoxes .paragraph{
        word-spacing: 2px;
        font-size: 13px;
        line-height: 22px;
    }

    .threeBoxes .first {
        margin-bottom: 50px;
        text-align: right;
    }

    .threeBoxes .centerBox{
        border: 0;
        padding-right: 0;
        margin-bottom: 50px;
        text-align: left;
    }

    .threeBoxes .last{
        text-align: center;
        border: 0;
        padding: 25px 5% 0 5%;
        clear: left;
        float: none;
        margin: 0 auto;
        border-top: 2px solid lightgray;
    }

    .threeBoxes .box .more{
        padding: 10px 22px;;
        font-size: 14px;
        margin: 22px 0 0 0;
    }
    /* Part 1 or Row 1. Three Boxes Ends Here */

    /* Part-2 or Row-2. Four Round Image Starts Here */
    .fourImg {
        margin-top: 80px;
        padding-top: 80px;
    }

    .fourImg .heading {
        font-size: 40px;
    }
    
    .fourImg .description {
        font-size: 15px;
        margin: 10px 0 0 0;
    }
    
    .fourImg .fourBoxes {
        width: 60%;
        margin: 60px auto 0px auto;
    }
    
    .fourImg .fourBoxes .box {
        width: 40%;
        margin: 0px;
    }
    
    .fourImg .fourBoxes img {
        border-radius: 100%;
        width: 65%;
    }
    
    .fourImg .fourBoxes .adjustMarginTop {
        margin-top: 50px;
    }
    
    .fourImg .fourBoxes .adjustMarginTab {
        margin-left: 19%;
    }
    /* Part-2 or Row-2. Four Round Image Ends Here */

    /* Part-3 or Row-3. Two Images Starts Here */
    .twoImgs {
        width: 90%;
        margin: 100px auto 0 auto;
    }

    .twoImgs .heading{
        font-size: 40px;
    }

    .twoImgs .description{
        font-size: 15px;
        margin: 10px 0 0 0;
    }

    .twoImgs .twoBoxes {
        margin: 50px 0 0 0;
    }

    .twoImgs .box {
        width: 60%;
    }

    .twoImgs .box .paragraph {
        word-spacing: 1px;
        font-size: 13px;
        line-height: 20px;
        margin-top: 18px;
    }

    .twoImgs .twoBoxes .rightBox {
        margin-top: 40px;
        text-align: right;
    }
    
    .twoImgs .box button{
        font-size: 14px;
    }
    /* Part-3 or Row-3. Two Images Ends Here */
    /* Website Body Ends Here */

    /* Website Footer Starts Here */
    .footer {
        width: 90%;
        margin: 80px auto 0 auto;
        padding: 35px 0 50px 0;
        border-top: 1px solid lightgrey;
    }
    
    .footer .copyRight{
        font-size: 12px;
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .footer .socialMedia {
        clear: both;
        float: none;
        text-align: center;
        margin-top: 40px;
    }
    
    .footer .socialMedia a {
        font-size: 22px;
        margin-left: 0;
    }
    
    .footer .socialMedia .adjustMarginTab {
        margin-left: 50px;
    }
    /* Website Footer Ends Here */
}


/* Media Query For Mobile Devices */
@media only screen and (max-width:700px) {

    body {
        border-top: 10px solid #5385c1;
    }

    /* Website Header Starts Here */
    .header {
        background-position: center top;
    }

    .header .masterCenter {
        padding: 30px 4% 70px 4%;
    }

    .header .heading {
        font-size: 25px;
        margin-top: 40px;
    }

    .header .description {
        margin-top: 10px;
        font-size: 10px;
    }

    .header .logo {
        font-size: 8px;
    }

    /* Navigation Links */
    .header .nav li {
        float: left;
        margin-left: 10px;
    }

    .header .nav li a {
        font-size: 8px;
    }
    /* Website Header Ends Here */

    /* Website Body Starts Here */
    /* Part 1 or Row 1. Three Boxes Starts Here */
    .threeBoxes {
        margin: 60px auto 0px auto;
    }

    .threeBoxes .box{
        width: 90%;
        text-align: center;
        border: 0;
    }
    
    .threeBoxes .box .heading {
        font-size: 18px;
        margin-top: 0px;
        font-weight: 300;
    }
    
    .threeBoxes .paragraph{
        margin: 0px;
        color:#a4a4a7;
        word-spacing: 1px;
        font-size: 12px;
        line-height: 20px;
    }

    .threeBoxes .first {
        margin: 0;
        padding: 0 5%;
    }

    .threeBoxes .centerBox {
        margin: 30px 0;
        padding: 30px 5%;
        border-top: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
    }

    .threeBoxes .last {
        margin: 0;
        padding: 0 5%;
    }

    .threeBoxes .box .more{
        font-size: 13px;
    }
    /* Part 1 or Row 1. Three Boxes Ends Here */

    /* Part-2 or Row-2. Four Round Image Starts Here */
    .fourImg {
        margin-top: 60px;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .fourImg .heading {
        font-size: 30px;
    }
    
    .fourImg .description {
        font-size: 13px;
        margin: 10px 0 0 0;
    }
    
    .fourImg .fourBoxes {
        width: 55%;
        margin: 60px auto 0px auto;
    }
    
    .fourImg .fourBoxes .box {
        width: 100%;
        padding: 40px 0px;
        margin: 0px;
    }
    
    .fourImg .fourBoxes img {
        border-radius: 100%;
        width: 65%;
    }
    
    .fourImg .fourBoxes .adjustMarginMob {
        margin-top: 40px;
    }
    /* Part-2 or Row-2. Four Round Image Ends Here */

    /* Part-3 or Row-3. Two Images Starts Here */
    .twoImgs {
        width: 90%;
        margin: 70px auto 0 auto;
    }
    
    .twoImgs .heading{
        font-size: 30px;
    }
    
    .twoImgs .description{
        font-size: 13px;
        margin: 10px 0 0 0;
    }
    
    .twoImgs .twoBoxes {
        margin: 40px 0 0 0;
    }
    
    .twoImgs .box {
        width: 100%;
        text-align: center;
    }
    
    .twoImgs .box img {
        width: 100%;
    }
    
    .twoImgs .box .paragraph {
        word-spacing: 1px;
        font-size: 12px;
        line-height: 20px;
        margin-top: 15px;
    }
    
    .twoImgs .twoBoxes .adjustMarginMob {
        margin-top: 40px;
    }
    
    .twoImgs .box button{
        font-size: 13px;
    }
    /* Part-3 or Row-3. Two Images Ends Here */
    /* Website Body Ends Here */

    /* Website Footer Starts Here */
    .footer {
        width: 90%;
        margin: 60px auto 0 auto;
        padding: 35px 0 50px 0;
        border-top: 1px solid lightgrey;
    }
    
    .footer .copyRight{
        font-size: 11px;
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .footer .socialMedia {
        clear: both;
        float: none;
        text-align: center;
        margin-top: 40px;
    }
    
    .footer .socialMedia a {
        display: block;
        font-size: 25px;
        margin-left: 0;
    }
    
    .footer .socialMedia .adjustMarginMob {
        margin-left: 0;
        margin-top: 30px;
    }
    /* Website Footer Ends Here */
}